Repository slchris/portage-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-imports
        name: go imports
        entry: bash -c 'export PATH="$PATH:$(go env GOPATH)/bin" && goimports -local github.com/slchris/portage-engine -w "$@"' --
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix ./...
        language: system
        files: \.go$
        pass_filenames: false

feat: add security scan and PR build verification workflows
  .github/workflows/pr-build.yml
  .github/workflows/security-scan.yml
Due: none

fix: upgrade CodeQL action to v3 and fix security scan permissions
  .github/workflows/security-scan.yml
Due: none

fix: update Go version to 1.25.5 in all workflows
  .github/workflows/ci.yml
  .github/workflows/pr-build.yml
  .github/workflows/security-scan.yml
Due: none

fix: downgrade Go version to 1.25.3 for GitHub Actions compatibility and improve gosec error handling
  .github/workflows/ci.yml
  .github/workflows/pr-build.yml
  .github/workflows/security-scan.yml
  go.mod
Due: go-mod-tidy

fix: add permissions and improve security scan results display
  .github/workflows/security-scan.yml
Due: none

fix: update artifact actions to v4, fix golangci-lint config, and improve error handling
  .github/workflows/ci.yml
  .github/workflows/pr-build.yml
  .github/workflows/security-scan.yml
  .golangci.yml
Due: none

fix: remove version field from golangci-lint config
  .golangci.yml
Due: none

fix: remove copyloopvar linter for golangci-lint v1.55.2 compatibility
  .golangci.yml
Due: none

fix: remove initLoopVar from gocritic checks for v1.55.2 compatibility
  .golangci.yml
Due: none

fix: add go mod download before golangci-lint
  .github/workflows/ci.yml
  .github/workflows/pr-build.yml
Due: none

fix: skip golangci-lint cache and enable Go cache
  .github/workflows/ci.yml
  .github/workflows/pr-build.yml
Due: none

fix: disable typecheck linter and add test build step
  .github/workflows/ci.yml
  .github/workflows/pr-build.yml
  .golangci.yml
Due: none

fix: explicitly configure govet checks and remove typecheck issues
  .golangci.yml
Due: none

fix: exclude undefined yaml errors from typecheck linter
  .golangci.yml
Due: none

fix: exclude G204,G304,G306 from gosec and improve output
  .github/workflows/security-scan.yml
Due: none

feat: upload CodeQL results as artifacts for manual review
  .github/workflows/security-scan.yml
Due: none

security: fix path traversal vulnerability in dashboard static file handler
  .gitignore
  internal/dashboard/dashboard.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add comprehensive test coverage for all internal packages
  .golangci.yml
  Makefile
  cmd/client/main.go
  configs/example-config.json
  internal/binpkg/store_test.go
  internal/builder/client_test.go
  internal/builder/config_transfer.go
  internal/builder/config_transfer_test.go
  internal/builder/executor.go
  internal/builder/local.go
  internal/builder/local_test.go
  internal/builder/manager_test.go
  internal/dashboard/dashboard_test.go
  internal/docker/builder_test.go
  internal/gpg/signer_test.go
  internal/iac/manager_test.go
  internal/server/server.go
  internal/server/server_test.go
  internal/storage/local_test.go
  internal/storage/s3_http_test.go
  readme.md
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add system Portage configuration reading support
  .golangci.yml
  cmd/client/main.go
  docs/SYSTEM_CONFIG_USAGE.md
  internal/builder/config_transfer.go
  internal/builder/config_transfer_test.go
  readme.md
  scripts/example-system-config.sh
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add notification system for build completion
  configs/notification.json
  internal/builder/local.go
  internal/notification/notification.go
  internal/notification/notification_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

refactor: convert config format from YAML to .conf
  .golangci.yml
  cmd/builder/main.go
  cmd/dashboard/main.go
  cmd/server/main.go
  configs/builder.conf
  configs/builder.yaml.example
  configs/dashboard.conf
  configs/dashboard.yaml
  configs/example-config.json
  configs/server.conf
  configs/server.yaml
  configs/server.yaml.examples
  internal/builder/manager_test.go
  pkg/config/config.go
  pkg/config/config_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: resolve all golangci-lint issues and add comprehensive test coverage
  .golangci.yml
  cmd/builder/main_test.go
  cmd/client/main.go
  cmd/client/main_test.go
  cmd/dashboard/main_test.go
  cmd/server/main_test.go
  configs/server.conf
  internal/builder/config_transfer.go
  internal/builder/config_transfer_test.go
  internal/builder/executor.go
  internal/builder/scheduler.go
  internal/builder/scheduler_test.go
  internal/notification/notification.go
  internal/notification/notification_test.go
  pkg/config/config.go
  pkg/config/config_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add emerge wrapper for transparent Portage Engine integration
  Makefile
  cmd/emerge-wrapper/main.go
  configs/portage-engine.conf.example
  internal/emerge/wrapper.go
  internal/emerge/wrapper_test.go
  scripts/install-wrapper.sh
  scripts/uninstall-wrapper.sh
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(dashboard): add build scheduler visibility and real-time log viewing
  internal/builder/manager.go
  internal/builder/manager_test.go
  internal/dashboard/dashboard.go
  internal/server/server.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(iac): add production-ready cloud provisioning with credentials and SSH deployment
  go.mod
  go.sum
  internal/iac/manager.go
  internal/iac/manager_test.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint

feat(builder): add heartbeat mechanism for builder health monitoring
  internal/builder/client.go
  internal/builder/client_test.go
  internal/builder/manager.go
  internal/builder/manager_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(metrics): add metrics monitoring for all components
  configs/builder.conf
  configs/dashboard.conf
  configs/server.conf
  internal/builder/client.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/server/server.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(metrics): add password authentication for metrics endpoint
  configs/builder.conf
  configs/dashboard.conf
  configs/server.conf
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/server/server.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(logging): add structured logging with rotation support
  configs/builder.conf
  configs/dashboard.conf
  configs/server.conf
  internal/logging/logging.go
  internal/logging/logging_test.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(monitor): add builder status monitor like OpenBuildService
  internal/builder/registry.go
  internal/builder/registry_test.go
  internal/dashboard/dashboard.go
  internal/server/server.go
  internal/server/server_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: implement GPG key distribution, storage upload, and cloud credentials
  cmd/builder/main.go
  cmd/builder/main_test.go
  configs/builder.conf
  configs/client.conf
  configs/portage-engine.conf.example
  configs/server.conf
  internal/builder/gpg_client.go
  internal/builder/gpg_client_test.go
  internal/builder/local.go
  internal/builder/local_test.go
  internal/builder/storage_uploader.go
  internal/builder/storage_uploader_test.go
  internal/server/server.go
  internal/server/server_test.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(deploy): add complete deployment solution for 10.42.0.1
  QUICKSTART.md
  configs/dashboard.conf
  docs/DEPLOYMENT.md
  scripts/deploy.sh
  scripts/portage-ctl.sh
  scripts/rollback.sh
  scripts/update-configs.sh
Due: none

feat: add OBS-style builders monitor with unified dashboard style
  cmd/builder/main.go
  configs/builder.conf
  configs/dashboard.conf
  configs/server.conf.bak
  internal/builder/local.go
  internal/builder/manager.go
  internal/builder/manager_test.go
  internal/builder/persistence.go
  internal/builder/persistence_test.go
  internal/builder/sysinfo.go
  internal/builder/sysinfo_test.go
  internal/dashboard/dashboard.go
  internal/server/server.go
  internal/server/server_test.go
  pkg/config/config.go
  scripts/deploy.sh
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(iac): enhance GCP IaC with configurable VM specs, firewall rules and state directory
  configs/server.conf
  internal/iac/gcp.go
  internal/iac/gcp_test.go
  internal/iac/manager.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(iac): add GCP credentials config and instance TTL auto-termination
  configs/server.conf
  configs/server.conf.bak
  internal/iac/gcp.go
  internal/iac/gcp_test.go
  internal/iac/manager.go
  internal/iac/manager_test.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(iac): add cloud-init script generation for GCP instances
  internal/iac/cloud_init.go
  internal/iac/cloud_init_test.go
  internal/iac/gcp.go
  internal/iac/gcp_test.go
  internal/iac/manager.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add binpkg download feature through dashboard -> server -> builder chain
  cmd/builder/main.go
  cmd/builder/main_test.go
  internal/builder/local.go
  internal/builder/local_test.go
  internal/dashboard/dashboard.go
  internal/dashboard/dashboard_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: normalize builder URLs to handle http:// prefix correctly
  configs/server.conf
  internal/server/server.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: normalize builder URLs in manager.go to handle http:// prefix
  internal/builder/manager.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add multi-distro support for Gentoo and Debian
  configs/builder.conf
  internal/builder/local.go
  internal/builder/pkgmgr.go
  internal/builder/pkgmgr_test.go
  pkg/config/config.go
  pkg/config/config_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint
