Repository slchris/portage-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-imports
        name: go imports
        entry: bash -c 'export PATH="$PATH:$(go env GOPATH)/bin" && goimports -local github.com/slchris/portage-engine -w "$@"' --
        language: system
        files: \.go$
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: bash -c 'go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix ./...
        language: system
        files: \.go$
        pass_filenames: false

refactor: simplify to Gentoo-only Docker builds with configurable image
  configs/builder.conf
  internal/builder/local.go
  internal/builder/pkgmgr.go
  internal/builder/pkgmgr_test.go
  pkg/config/config.go
  pkg/config/config_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat: add Proxmox VE (PVE) support to IaC module
  configs/server.conf
  internal/iac/manager.go
  internal/iac/pve.go
  internal/iac/pve_test.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(gpg): add server-side GPG key generation and signing
  cmd/server/main.go
  configs/server.conf
  internal/gpg/signer.go
  internal/gpg/signer_test.go
  internal/server/server.go
  internal/server/server_test.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(builder): add GPG key sync and container signing support
  configs/builder.conf
  internal/builder/gpg_client.go
  internal/builder/gpg_client_test.go
  internal/builder/local.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(builder): add configurable container runtime (docker/podman)
  configs/builder.conf
  internal/builder/container_runtime.go
  internal/builder/container_runtime_test.go
  internal/builder/executor.go
  internal/builder/local.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(builder): add emerge automatic dependency conflict resolution
  docs/DEPLOYMENT.md
  docs/SYSTEM_CONFIG_USAGE.md
  internal/builder/executor.go
  internal/builder/local.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(gpg): use secret key for container package signing
  internal/builder/local.go
  internal/gpg/signer.go
  internal/gpg/signer_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: fix golangci-lint config version format
  .golangci.yml
Due: none

fix: update Dockerfile.test to use Gentoo base image
  Dockerfile.test
Due: none

security: fix clear-text logging of sensitive information
  internal/gpg/signer.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: use quoted version string in golangci config
  .golangci.yml
Due: none

fix: improve test Docker configuration for CI
  .github/workflows/ci.yml
  Dockerfile.test
Due: none

fix: upgrade golangci-lint to v2.7.2 in CI
  .github/workflows/ci.yml
Due: none

fix: resolve data race in TestLocalBuilderGetJobStatus
  internal/builder/local_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: upgrade golangci-lint-action to v7
  .github/workflows/ci.yml
Due: none

fix: update golangci-lint config for v2.x compatibility
  .golangci.yml
Due: none

fix: simplify golangci-lint config for v2.x
  .golangci.yml
Due: none

fix: disable container-incompatible sandbox features in Dockerfile.test
  Dockerfile.test
Due: none

fix: resolve data race in TestJobPersister_StartStop
  internal/builder/persistence_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix: disable race detector in CI tests
  .github/workflows/ci.yml
Due: none

feat: add status badges and CodeQL security scanning
  .github/workflows/codeql.yml
  LICENSE
  readme.md
Due: none

refactor: reduce cyclomatic complexity and improve code quality
  .gosec.json
  Dockerfile
  QUICKSTART.md
  cmd/builder/main.go
  cmd/client/main.go
  internal/builder/config_transfer.go
  internal/builder/config_transfer_test.go
  internal/builder/executor.go
  internal/builder/local.go
  internal/dashboard/dashboard.go
  internal/docker/builder.go
  internal/emerge/wrapper.go
  internal/gpg/signer.go
  internal/iac/gcp.go
  internal/iac/gcp_test.go
  internal/iac/manager.go
  internal/iac/pve.go
  internal/iac/pve_test.go
  internal/logging/logging.go
  internal/notification/notification.go
  scripts/quality-check.sh
  scripts/test-entrypoint.sh
Due: go-fmt, go-imports, go-vet, golangci-lint

feat(binhost): decode zstd- and xz-compressed GPKG metadata for the index
  go.mod
  go.sum
  internal/binpkg/binhost.go
  internal/binpkg/gpkg_compress_test.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, golangci-lint

feat(iac): implement AWS provider (beta, unvalidated against live account)
  internal/iac/manager.go
  internal/iac/manager_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

fix(security): validate package atom on the install-verify path
  internal/builder/local.go
  internal/builder/verify_atom_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint

ci: fix lint prealloc findings and run gosec under the project Go toolchain
  .github/workflows/security-scan.yml
  internal/builder/local.go
  internal/builder/manager.go
  internal/iac/pve_scheduler.go
Due: go-fmt, go-imports, go-vet, golangci-lint

ci: bump gosec to v2.28.0 and honor #nosec; exclude accepted rule classes
  .github/workflows/security-scan.yml
  .gosec.json
Due: none

ci: suppress G115 on statfs block-size conversions
  internal/builder/sysinfo.go
Due: go-fmt, go-imports, go-vet, golangci-lint
